html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #323232;
}

#file {
  position: absolute;
  top: 0;
  left: 0;
}

#basemaps-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0);
}

#basemaps {
  font-size: 16px;
  padding: 4px 8px;
}
